body{
    background-color: #02131e;
}
.container-fluid{
    background-color: #023b67;
}
i{
    font-size: 30px;
    color: #000000;
    margin-right: 10px;
}
#dashboard-section h2{
    color: #00eeff;
}
.navbar-nav ms-auto{
    a{
        color: white;
    }
}
.nav-link{
    cursor: pointer;

}
.nav-link:hover{
   color: #00eeff;

}
.card-body {
    background-color: #00eeff;

}
#customer-card{
    background-color: forestgreen;
    box-shadow: rgb(0, 149, 255) 0px 1px 0px, rgb(0, 149, 255) 0px 8px 24px, rgb(0, 149, 255) 0px 16px 48px;

}
#item-card{
    background-color: brown;
    box-shadow: rgb(0, 149, 255) 0px 1px 0px, rgb(0, 149, 255) 0px 8px 24px, rgb(0, 149, 255) 0px 16px 48px;

}
#order-card{
    background-color: #01233e;
    box-shadow: rgb(0, 149, 255) 0px 1px 0px, rgb(0, 149, 255) 0px 8px 24px, rgb(0, 149, 255) 0px 16px 48px;
}
#order-form{
    background-color: #023b67;
    box-shadow: rgb(0, 149, 255) 0px 1px 0px, rgb(0, 149, 255) 0px 8px 24px, rgb(0, 149, 255) 0px 16px 48px;
}